<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/spring/*.xml</param-value>
	</context-param>
	
	<filter>
		<filter-name>checkLoginfilter</filter-name>
		<filter-class>
			com.wbgl.common.CheckLoginfilter
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>checkLoginfilter</filter-name>
		<url-pattern>/jsp/*</url-pattern>
	</filter-mapping>
	
  	<welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
  	</welcome-file-list>	
  	
  	<servlet>
		<servlet-name>SpringContextServlet</servlet-name>
		<servlet-class>
			org.springframework.web.context.ContextLoaderServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>internetBar</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>internetBar</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
</web-app>
